/* 
    Created on : 07/12/2016, 10:22:23
    Author     : Carlos Ferreira
*/
.title-pg{
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
}
.edit{
    background: #242063;
}
.delete{
    background: #b12020;
}
.actions{
    padding: 6px;
    color: #FFF;
    text-decoration: none;
    font-size: 1em;
    margin: 0px 2px;
}
.actions:hover{
    text-decoration: none;
    color: #FFF;
}
.btn-add{margin-bottom: 10px;}
form.form-search{margin: 10px 0px;}